@import "../../styles/colors.scss";

.xBtn {
  width: 32px;
  height: 32px;
  position: fixed;
  top: -40px;
  right: 5px;
  z-index: 10001;
  transition: transform 300ms ease-out;

  &.visible {
    transform: translateY(45px);
  }

  &::before {
    background-image: url(/images/x.svg);
  }

  &::after {
    background-image: url(/images/x-inverted.svg);
  }
}