@import "../../../styles/colors.scss";

.document {
  position: relative;
  border: 1px solid $BTN_DARK;
  padding: 60px 85px;
  min-height: 1500px;
  cursor: text;

  @media (max-width: 925px) {
    padding: 25px 40px;
  }

  @media (max-width: 600px) {
    padding: 15px 25px;
  }
}

.showSources {
  span[class="source1"] {
    background-color: $SOURCE1;
  }

  span[class="source2"] {
    background-color: $SOURCE2;
  }
}

.content {
  &.initFadeIn {
    @keyframes fadeInContent {
      0%   { opacity: 0 }
      100% { opacity: 1 }
    }
    opacity: 0;
    animation: fadeInContent 200ms 1000ms 1 forwards;
  }

  &.fadeIn.initFadeIn {
    opacity: 1;
  }
}

.loader {
  position: absolute;
  z-index: 1;
  top: 60px;
  bottom: 60px;
  left: 85px;
  right: 85px;
  pointer-events: none;
  background-image: url(/images/document-lines.svg);
  background-size: 800px 206px;
  background-repeat: repeat-y;
  background-position: top right;
  transition: opacity 200ms;

  @media (max-width: 925px) {
    top: 25px;
    bottom: 25px;
    left: 40px;
    right: 40px;
  }

  @media (max-width: 600px) {
    top: 15px;
    bottom: 15px;
    left: 25px;
    right: 25px;
  }

  &.hidden {
    opacity: 0;
  }
}

.error {
  font-family: "SimplonMono";
}

.errorLink {
  color: $LINK;
  text-decoration: underline;
}