$BACKGROUND: #fff;
$TRANSLUCENT_BACKGROUND: rgba(255, 255, 255, 0.92);
$TEXT: #111;
$LINK: rgb(0%, 0%, 100%);
$BTN_DARK: #000;
$DARK: #000;
$BTN_LIGHT: #fff;
$BTN_GRAY: #777;
$LIGHT: #fff;
$SELECTED_TEXT: #0ff;
$TEXT_OUTLINE: rgba(0, 0, 0, 0.04);
$ERR: #ff0000;