@import "../../styles/colors.scss";
@import "../../styles/variables.scss";

.link {
  position: relative;
  display: inline-block;
  width: $DOC_BTN_SIZE;
  height: $DOC_BTN_SIZE;
  background-color: $BTN_LIGHT;
  border: 1px solid $BTN_DARK;
  transition: background-color 200ms;

  &:hover {
    background-color: $BTN_DARK;
  }
}

.icon {
  position: absolute;
  width: 30px;
  height: 30px;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  transition: fill 200ms;

  .link:hover & {
    fill: $BTN_LIGHT;
  }
}